@media screen and (min-width: 1280px) {
  .container {
    max-width: 1216px;
    padding: 0 32px;
  }

  .review-block-title {
    padding-top: 82px;
    padding-bottom: 64px;
  }

  .review-block-h_three {
    max-width: 497px;
    font-size: 32px;
    letter-spacing: -1.44px;
  }

  .review-block-YA-font {
    font-size: 32px;
    letter-spacing: -1.44px;
  }

  .review-block-title-p {
    margin-left: auto;
    padding-top: 0px;
    max-width: 273px;
    font-size: 16px;
    letter-spacing: -0.32px;
  }

  .review-block-images {
    display: flex;
    gap: 32px;
    background-color: var(--dark-white-color);
  }

  .swiper-container {
    display: none;
  }

  .review-block-images-bkg {
    width: calc((100% - 64px) / 3);
  }

  .review-block-img {
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .review-block-h_four {
    font-size: 18px;
    letter-spacing: -0.81px;
  }

  .review-block-p {
    font-size: 16px;
    letter-spacing: -0.32px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .review-block-link {
    margin-top: 64px;
    margin-bottom: 16px;
    width: 68px;
    height: 68px;
  }
}
