p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
  background: #11131f;
  min-width: 0;
}

.review-block-title {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
}

.review-block-h_three {
  justify-content: left;
  color: var(--white, #f6f5ef);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.08px;
}

.review-block-YA-font {
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 120%; /* 38.4px */
  letter-spacing: -1.08px;
  background-color: #bec7c2, #a1b5ba;
  background-image: linear-gradient(90deg, #bec7c2, #a1b5ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.review-block-title-p {
  max-width: 335px;
  padding-top: 24px;
  color: var(--white, #f6f5ef);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.28px;
}

.review-block-images {
  display: none;
  gap: 32px;
  background-color: var(--dark-white-color);
}

.review-block-images-bkg {
  border-radius: 24px;
  background: #1f212d;
}

.review-block-img {
  display: flex;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 18px;
  box-sizing: unset;
  background: #1f212d;
}

.review-block-h_four {
  color: var(--white, #f6f5ef);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%; /* 19.8px */
  letter-spacing: -0.72px;
  padding-bottom: 8px;
}

.review-block-p {
  color: rgba(246, 245, 239, 0.5);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.review-block-link {
  display: flex;
  margin-top: 43px;
  margin-bottom: 10px;
  width: 24px;
  height: 24px;
  margin-left: auto;
  justify-content: flex-end;
}
